/App.java
/Client.java
/Clientclass.java
/Magicsquare.java
/MainServer.java
/MianClient.java
/Serverclass.java
/WEBcRAWLER.java
/a.java
/hashmap.java
/hashset.java
/matrixmul.java
/problemsolver.java
/randomnumbergenerator.java